body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
    background: #444;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}

.Layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.OutputLayer {
    z-index: 2;
    overflow: hidden;
}

.CameraLayer {
    z-index: 1;
    overflow: hidden;
}

.UILayer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background: #444;
    color: #fff;
}

.OutputLayer canvas,
.CameraLayer object {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.logo {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 210px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    padding: 25px;
    text-align: left;
}

.menu {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 210px;
    height: 100%;
    padding: 25px;
    font-size: 16px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.6);
}

#status {
    color: #fff;
    cursor: pointer;
}

#snap {
    border: 0px solid #000;
    display: none;
    margin-top: 32px;
}

hr {
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.15);
    height: 1px;
}
